#head{
    background-color: lightblue;
    height: 7%;
    width: 100%;
    top: 0%;
    left: 0%;
    position: absolute;

}
#head_title{
    font-size: 25px;
    left: 4%;
    top: 0%;
    color: white;
    font-family: Optima;
    position: absolute;
    cursor: pointer;
}
img{
    width: 4%;
    height: 85%;
    position: absolute;
    left: 92%;
    top: 15%;
    cursor: pointer;
}