<div id="h">
    <p class="mod make">Make</p>
    <p class="mod model">Model</p>
    <p class="mod year">Year of the model</p>
    <p class="mod price">Price</p>
    <p class="mod date">Date added</p>
</div>
<div id="bod">
    <!--for each car in cars list rendered into this file, render element from its dictionary-->
    <div id="b" *ngFor="let model of cars">
        <p class="mod2 makes">{{model.make}}</p>
        <p class="mod2 models">{{model.model}}</p>
        <p class="mod2 years">{{model.year}}</p>
        <p class="mod2 prices">{{model.price}}</p>
        <p class="mod2 adds">{{model.date}}</p>
        <!--on buttog press, call function removeCookie passing id of the car as an argument to delete cookie-->
        <button id="remove" (click)=removeCookie(model.id)>remove</button>
    </div>
    <p id="no">{{no}}</p>
</div>
<!--render total amount of price of the cars-->
<p id="total">total: {{total}}</p>
<button (click)="router.navigate(['main'])">go back</button>
<router-outlet></router-outlet>
